$colorGrayLines: 	#f1f1f1
$colorGrayShadow: 	#cacaca
$colorBlack: 		#333
$colorWhite: 		#fff
$colorViolet: 		#580aef
*
	font-family: 'Helvetica Neue'
	box-sizing: border-box
	font-size: 14px
html,
body,
#app,
.app-body
	min-width: 100%
	min-height: 100%
	margin: 0
	position: relative

@import login
@import headerStyles
@import footerStyles
@import taskTable
@import modals
@import addTask