$colorGrayLines: 	#f1f1f1
$colorGrayShadow: 	#cacaca
$colorBlack: 		#333
$colorWhite: 		#fff
$colorViolet: 		#580aef
$colorTextBlue:		#6f6fef
$colorRed:			#8e1a1a
*
	font-family: 'Helvetica Neue'
	box-sizing: border-box
	font-size: 14px
html,
	min-width: 100%
	min-height: 100%
	position: relative
	padding-bottom: 120px
body
	margin: 0
.page-wrapper
	max-width: 1000px
	margin: 0 auto

@import sign
@import headerStyles
@import footerStyles
@import taskTable
@import modals
@import addTask